<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>impl</key>
		<string>AppUISkeletonServiceImpl</string>
		<key>service</key>
		<string>AppUISkeletonServiceProtocol</string>
	</dict>
	<dict>
		<key>impl</key>
		<string>LCSStockGodServiceImpl</string>
		<key>service</key>
		<string>LCSStockGodServiceProtocol</string>
	</dict>
	<dict>
		<key>impl</key>
		<string>LCSPhotoShareServiceImpl</string>
		<key>service</key>
		<string>LCSPhotoShareServiceProtocol</string>
	</dict>
</array>
</plist>
